<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/form" method="POST">
        <label>Name :</label>&nbsp;&nbsp;&nbsp;
        <input type="text" name="name" placeholder="name"><br><br><br>
        <label>Age :</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="age" placeholder="age"><br><br><br>
        <label>level :</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="level" placeholder="level" size="20"><br><br><br>
        <label>Email :</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="email" placeholder="email"><br><br><br>
        <label>Phone :</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="phone" placeholder="phone"><br><br><br>
        <label>Adress :</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="home" placeholder="Adress"><br><br><br>
        <button type="submit" >Register</button>
    </form>

</body>
</html>